body{
    font-family: 'Anton', sans-serif;
    margin: 10px;
    
}
span{
    color: blue;
}
.clear{
    clear: both;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
#image1{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
#image2{
    width: 50%;
}
section{
    height: 200px;
    padding-bottom: 150px;
}
.working-project {
    background-color: #f2f2f2;
    
}
.working-project p{
    text-align: justify;
}
#full-stack{
    border-radius: 15px;
    background-color: white;
    
    width: 25%;
    text-align: center;
}
.image{
    width: 70%;
}
.latest-working-project{
    text-align: center;
}
.inquiry{
    width: 80%;
    margin: 4% 10% 5% 10%;
}
.inquiry img{
    width: 900px;
}
.info{
    position: relative;
    margin-top: -18%;
    margin-left: 10%;
}
.info h2{
    display: inline-block;
    color: #fff;
    font-size: 40px;
}
.info a{
    display: inline-block;
    margin-left: 30%;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#FC7662,#F66460);
    padding: 1% 2%;
    border-radius: 10px;
}

.icon-part{
    text-align: center;
}
input{
    width: 100px 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    
    margin-top: 6px; 
    margin-bottom: 16px; 
    
  }
  #mass{
      
      height: 120px;
      width: 300px;
  }
 
  .half-width2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    
  }

footer p{
    text-align: center;
    font-size: 10px;
}